@import './normalize.scss';
@import './sassConfig.scss';
@import './ui.scss';

//color
.color-white{
    color: white;
}

//text-align
.txtali-c{
    text-align: center;
}

//fontsize
.fs12{
    font-size: 12px;
}